@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
#setCenterTitle {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 850;
  letter-spacing: 8px;
  color: #292929;
}

#setCenterAllComponent {
  margin-left: auto;
  margin-right: auto;
}

#setTextTopic {
  font-weight: bold;
  font-size: 132%;
  letter-spacing: 2px;
  color: #4a4a4a;
}

#setSizeSelect {
  width: 800;
}

#setSpaceTopComponent {
  margin-top: 6%;
}

#setSpaceButtonComponent {
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
}

#setEffectButton {
  transition: all 0.15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: #F9C65D;
  color: #195B52;
  box-shadow: 6px 6px 0 #195B52;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3px;
  border: none;

  margin-left: 210%;
  margin-top: 40%;
 

}

#setEffectButton:hover {
  top: 3px;
  left: 3px;
  box-shadow: 3px 3px 0 #195B52;
}

#setEffectButton::after {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #195B52;
  transform: rotate(45deg);
  z-index: -1;
}

#setEffectButton::before {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  bottom: 4px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color:  #195B52;
  transform: rotate(45deg);
  z-index: -1;
}

.setPrice{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 850;
  letter-spacing: 8px;
  font-size: 60px;
  color: #292929;
}
.setTextModal{
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
  font-size: 23px;
  color: #292929;
}
